{% extends "layout.html" %}
{% block title %}Attributions{% endblock %} 
{% block lead %} Checkout our team of awesome individuals.{% endblock %} 
{% block page_content %}


<!-- "I am proud to have worked alongside these awesome individuals." - Gabriel Bonassi -->

<br>


<div class="row, boxs" style="padding: 70px; background-color: papayawhip; z-index: -100;">
	<div class="row">
		<div class="column">
			<!-- "I am proud to have worked alongside these awesome individuals." - Gabriel Bonassi -->

      <h1 style="text-align:center; color: #208437"><b>Our Team</b></h1>
<br>



			<section id="team">
				<div class="card7">
					<img alt="" src="https://static.igem.wiki/teams/4475/wiki/team-pictures/img-7674-1.jpg">

					<div class="data">
						<h2>Gabriel Bonassi</h2>
						<i>Team Leader</i>

						<p style="font-size:13px; text-align: center;"><b>Biochemistry</b>
						</p>


						<p style="font-size:12px; text-align: center; margin-bottom: 5px;">I organized literature reviews for intervention development, hosted meetings with academic stakeholders, helped create plasmid designs, applied for grants on behalf of the team to fundraise, and authored most of the code for the FSU iGEM 2022 Team Wiki.</p>
						<a href="https://www.linkedin.com/in/gabriel-bonassi" style="text-decoration: underline; font-size: 13px;">LinkedIn</a>
					</div>
				</div>


				<div class="card7">
					<img alt="" src="https://static.igem.wiki/teams/4475/wiki/team-pictures/daniel-z-square.jpg">

					<div class="data">
						<h2>Daniel Zuniga</h2>
						<i>Associate Team Leader</i>

						<p style="font-size:13px; text-align: center;"><b>Cell and Molecular Neuroscience</b>
						</p>


						<p style="font-size:12px; text-align: center;">I helped the team develop a design solution and some laboratory protocols. To better understand our problem, I interviewed non-governmental and academic stakeholders. I also supervised team dynamics and ensured the competition requirements were met by their respective deadlines.</p>
						<a href="https://www.linkedin.com/in/daniel-zuniga-1395431a4" style="text-decoration: underline; font-size: 13px;">LinkedIn</a>
					</div>
				</div>


				<div class="card7">
					<img alt="" src="https://static.igem.wiki/teams/4475/wiki/team-pictures/andrew-s.jpg">

					<div class="data">
						<h2>Andrew Taylor</h2>
						<i>Design Team Leader</i>

						<p style="font-size:13px; text-align: center;"><b>Biological Science</b>
						</p>


						<p style="font-size:12px; text-align: center;">Designed several vectors and modified gene sequences for the expression of enzymes in our yeast, in addition to thoroughly consulting literature to formulate and justify our algal bloom solution.</p>
						<a href="https://www.linkedin.com/in/andrew-taylor-a6205b13b" style="text-decoration: underline; font-size: 13px;">LinkedIn</a>
					</div>
				</div>
			</section>


			<section id="team">
				<div class="card7">
					<img alt="" src="https://static.igem.wiki/teams/4475/wiki/team-pictures/elizabeth-s.jpg">

					<div class="data">
						<h2>Elizabeth Moore</h2>
						<i>Build Team Leader</i>

						<p style="font-size:13px; text-align: center;"><b>Biomedical Engineering</b>
						</p>


						<p style="font-size:12px; text-align: center;">Ft. Lauderdale born, Tallahassee raised. As a Florida native, I’m passionate about combining my love for science with promoting the well-being of our wildlife. I was responsible for conducting and managing lab work for the team to help achieve our end goal of helping manatees.</p>
						<a href="https://www.linkedin.com/in/elizabeth-k-moore" style="text-decoration: underline; font-size: 13px;">LinkedIn</a>
					</div>
				</div>


				<div class="card7">
					<img alt="" src="https://static.igem.wiki/teams/4475/wiki/team-pictures/tamia-edwards-headshot-v2.jpg">

					<div class="data">
						<h2>Tamia Edwards</h2>
						<i>Modeling Lead</i>

						<p style="font-size:13px; text-align: center;"><b>Biomedical Engineering, w/Minor in Computer Science</b>
						</p>


						<p style="font-size:12px; text-align: center;">As a member of the design team, I was involved in brainstorming ideas and solutions to the problem. As the modeling lead, I was tasked with developing a computational and physical model that characterizes the proposed implementation of this project.</p>
						<a href="https://www.linkedin.com/in/tamia-edwards" style="text-decoration: underline; font-size: 13px;">LinkedIn</a>
					</div>
				</div>


				<div class="card7">
					<img alt="" src="https://static.igem.wiki/teams/4475/wiki/team-pictures/img-7664.jpg">

					<div class="data">
						<h2>Jose Hurtado</h2>
						<i>Human Practices Lead</i>

						<p style="font-size:13px; text-align: center;"><b>Finance</b>
						</p>


						<p style="font-size:12px; text-align: center;">I reached out and formed relationships with stakeholders to further research and help shape the team’s design to best suit both expert opinion and the environment. I also helped shape the proposition by bringing it towards a real-life setting.</p>
						<a href="https://www.linkedin.com/in/josehurtado-fsu/" style="text-decoration: underline; font-size: 13px;">LinkedIn</a>
					</div>
				</div>
			</section>


			<section id="team">
				<div class="card7">
					<img alt="" src="https://static.igem.wiki/teams/4475/wiki/team-pictures/img-7668.jpg">

					<div class="data">
						<h2>Ben Arney</h2>
						<i>Entrepreneurship Lead</i>

						<p style="font-size:13px; text-align: center;"><b>Commercial Entrepreneurship</b>
						</p>


						<p style="font-size:12px; text-align: center;">I proposed and developed our business plan to endorse success in the world market. This involved communicating our value and potential as a company to consumer markets, building connections for future collaborations, and piecing together a comprehensive strategy for progressing the team’s ideals and endeavors.</p>
						<a href="https://www.linkedin.com/in/ben-arney-490614251/" style="text-decoration: underline; font-size: 13px;">LinkedIn</a>
					</div>
				</div>


				<div class="card7">
					<img alt="" src="https://static.igem.wiki/teams/4475/wiki/team-pictures/img-7679.jpg">

					<div class="data">
						<h2>Nicole Blanchard</h2>
						<i>Build Team Member</i>

						<p style="font-size:13px; text-align: center;"><b>Civil/Environmental Engineering</b>
						</p>


						<p style="font-size:12px; text-align: center;">Since joining iGEM I have gained lab experience and developed leadership skills whilst collaborating with various individuals and teams. My passion for photography and storytelling has helped in uniting efforts to manage the Team’s social media and educational material.</p>
						<a href="https://www.linkedin.com/in/nicoleblanchard20" style="text-decoration: underline; font-size: 13px;">LinkedIn</a>
					</div>
				</div>


				<div class="card7">
					<img alt="" src="https://static.igem.wiki/teams/4475/wiki/team-pictures/img-7698.jpg">

					<div class="data">
						<h2>Isis Le-Tolbert</h2>
						<i>Build Team Member</i>

						<p style="font-size:13px; text-align: center;"><b>Human Development and Family Sciences</b>
						</p>


						<p style="font-size:12px; text-align: center;">I assisted with the preparation of gBlocks prior to performing the HiFi assembly such as resuspension, quantifying the concentrations of the gBlocks, and performing gel electrophoresis. I also developed interactive graphs containing curated data of modular and randomized promoter gene expression strengths for public access.</p>
						<a href="http://linkedin.com/in/isis-le-tolbert" style="text-decoration: underline; font-size: 13px;">LinkedIn</a>
					</div>
				</div>
			</section>


			<section id="team">
				<div class="card7">
					<img alt="" src="https://static.igem.wiki/teams/4475/wiki/team-pictures/img-7690-1.jpg">

					<div class="data">
						<h2>Franklin Pacheco</h2>
						<i>Design Team Member</i>

						<p style="font-size:13px; text-align: center;"><b>Biological Science</b>
						</p>


						<p style="font-size:12px; text-align: center;">I developed a public BioRender file containing the SBOL glyphs. In addition, Using AirTable, I manufactured a database that includes all the previous work of past iGEM teams that have worked with projects related to algal blooms, eutrophication, and water quality.</p>
						<a href="https://www.linkedin.com/in/franklin-pacheco" style="text-decoration: underline; font-size: 13px;">LinkedIn</a>
					</div>
				</div>


				<div class="card7">
					<img alt="" src="https://static.igem.wiki/teams/4475/wiki/team-pictures/sophia-berkwits-headshotv2.jpg">

					<div class="data">
						<h2>Sophia Berkwits</h2>
						<i>Build Team Member</i>

						<p style="font-size:13px; text-align: center;"><b>Biochemistry</b>
						</p>


						<p style="font-size:12px; text-align: center;">I developed protocols and carried out various experiments relating to the Cercosporin pathway. When I was build lead, I delegated tasks to other team members and oversaw the progress within the laboratory setting.</p>
						<a href="https://www.linkedin.com/in/sophia-berkwits-221635253" style="text-decoration: underline; font-size: 13px;">LinkedIn</a>
					</div>
				</div>


				<div class="card7">
					<img alt="" src="https://static.igem.wiki/teams/4475/wiki/team-pictures/img-7660.jpg">

					<div class="data">
						<h2>Andrew Maran</h2>
						<i>Design Team Member</i>

						<p style="font-size:13px; text-align: center;"><b>Biological Sciences</b>
						</p>


						<p style="font-size:12px; text-align: center;">I spent time on both the Build and Design teams where I completed the task of making a swiss cheese model. </p>
						<a href="http://linkedin.com/in/andrew-maran-058ab3200" style="text-decoration: underline; font-size: 13px;">LinkedIn</a>
					</div>
				</div>
			</section>
			<br>
			<!--              INSERT-->
			<br>
			<!-- "I am proud to have worked alongside these awesome individuals." - Gabriel Bonassi -->
		</div>
	</div>
  <br>


  <h1 style="text-align:center; color: #208437"><b>Principal Investigators</b></h1>
<br>




	<section id="team">
		<div class="card7">
			<img alt="" src="https://static.igem.wiki/teams/4475/wiki/fsu-com-8.jpg">

			<div class="data">
				<h2>Cesar Rodriguez</h2>
				<i>Primary PI</i>

				<p style="font-size:13px; text-align: center;"><b>College of Medicine</b>
				</p>


				<p style="font-size:12px; text-align: center;">FSU iGEM cofounder and program director</p>
				<a href="https://www.linkedin.com/in/cesarar" style="text-decoration: underline; font-size: 13px;">LinkedIn</a><br>
			</div>
		</div>


		<div class="card7">
			<img alt="" src="https://static.igem.wiki/teams/4475/wiki/montez-profile-pic.jpg">

			<div class="data">
				<h2>Dave Montez</h2>
				<i>Secondary PI</i>

				<p style="font-size:13px; text-align: center;"><b>Center for Undergraduate Research and Academic Engagement</b>
				</p>


				<p style="font-size:12px; text-align: center;">Associate Program Director and Human Practices Advisor.</p>
				<a href="https://www.linkedin.com/in/dmontez" style="text-decoration: underline; font-size: 13px;">LinkedIn</a>
			</div>
		</div>
	</section>
	<br>
	<br>
  <br>


	<div style="margin-left: 2em">
		<ul>
			<li style="list-style: none; display: inline">
        <h1 style="text-align:center; color: #208437"><b>Contributors</b></h1>
			</li>

      <br>

			<li><strong>Jamel Ali</strong>  - Faculty member of FAMU-FSU College of Engineering. Provided feedback on project and presentation. Participated in simulated judging sessions.</li>

			<li><strong>Stephen Hugo Arce</strong>  - Biomedical engineering professor at the FAMU-FSU College of Engineering. Provided invaluble knowledge to the Build Team as well as lab space (cell and tisssue engineering laboratory director). Participated in simulated judging sessions. </li>

			<li><strong>Ken Baldauf</strong> - Director of the FSU Innovation Hub. Responsible for the "Pitch Room", home of all iGEM meetings. Participated in simulated judging sessions. </li>

			<li><strong>Michael Blaber</strong> - FSU College of Medicine. Provided feedback on both project and presentation. Participated in simulated judging sessions. </li>

			<li><strong>Melvin Bolton, Ph.D.</strong> - Research Plant Pathologist with the U.S. Dept. of Agriculture-Agricultural Research Service and Dr. Bolton's research has also proven invaluable, in addition to a generous donation from his cercosporin DNA library.</li>

			<li><strong>Doug Carlson</strong> - FSU College of Medicine. Facilitated news articles regarding the project and team.</li>

			<li><strong>Max Chesnes</strong> - Environmental journalist for the Tampa Bay Times (formerly of TCPalm). He provided the team with an overview of what was happening on the ground level of combatting the manatee unusual mortality event and the prevailing reasons for why the event was occurring.</li>

			<li><strong>Bailey Clark</strong> - FSU Graduate with a Bachelors in Biomedical Engineering - wrote protocols, began initial stages of the engineering process and performed a great deal of research and stakeholder outreach for the Human Practices subteam.</li>

			<li><strong>Cameron Conroy</strong> - Member of the 2019 FSU iGEM team. He provided project feedback and wiki. </li>

			<li><strong>Margaret Daub, Ph.D.</strong> - Researcher with a focus on plant pathophysiology. Cited within human practices report for her work with cercosporin. </li>

			<li><strong>Lucas Davis</strong> - Fish and Wildlife Biologist at the U.S. Fish and Wildlife Service. He shared with the team his perspective as a government official and shared how the current situation needs reactive help in the short term to combat HABs and preventative measures to reduce nutrient loading in waterways so seagrass beds are able to regrow.</li>

			<li><strong>Ron Frazier, M.S.</strong> - Jim Moran College of Entrepreneurship. Provided feedabk on the project and presntation. Participated in simulated judging sessions.</li>

			<li><strong>Leila Gibradze</strong> - FSU Innovation Hub. Fascilated scheduing for Pitch and program rooms at Innovation Hub. </li>

			<li><strong>Jacob Gottlieb</strong> - Member of the 2019 FSU iGEM team. Provided feedback on the project. </li>

			<li><strong>Chris Hagemeyer</strong> - FSU College of Medicine. Assisted in fundraising efforts from FSU student government. </li>

			<li><strong>Kirby Kemper</strong> - FSU College of Arts and Sciences, Department of Physics. Advsior and mentor to team P.I., Dr. Cesar Rodriguez</li>

			<li><strong>Mark McNees</strong> - FSU College of Entrepreneurship. Provided feedback on implementation, worked with Ben Arney. </li>

			<li><strong>Kenneth Odell, M.D.</strong> - FSU College of Medicine. Provided feedback on project and presentation. Participated in simulated judging sessions.</li>

			<li><strong>Jovey Osagie</strong> - Provided feedback on project and presentation. Participated in simulated judging sessions.</li>

			<li><strong>Emily Pritchard, Ph.D</strong> - FSU Colleges of Medicine and Entrepreneurship. Provided feedback on project and presntation. Participated in simulated judging sessions.</li>

			<li><strong>Rienne Saludo</strong> - FSU Innovation Hub. Fascilated use of Pitch and program rooms at FSU Innovation Hub. </li>

			<li><strong>Chase Tarrillo</strong> - Member of the 2021 FSU iGEM team. Provided feedback on project and presentation. Participated in simulated judging sessions. </li>

			<li><strong>Michael Taylor</strong> - FSU alumni and former iGEM turned scientist at Gingko Bioworks. Disembodied voice of reason and support at each and every meeting. We could not have done it without his constant support.</li>

			<li><strong>Emily Thiel</strong>  - Biomedical engineer responsible for running Dr Arce's lab at the FAMU-FSU College of Engineering. Provided mentorship to the Build Team within the lab.</li>

			<li><strong>Robert Tomko, Ph.D.</strong> - FSU College of Medicine. Provided the team with master cultures of P424 and P414 bacterial strains. In addition, he supplied the team with protocols developed in his laboratory. </li>

			<li><strong>Craig Townsend, Ph.D.</strong> - Alsoph H. Corwin Professor in the Department of Chemistry at Johns Hopkins University. Contributed invaluable literature regarding cercosporin to the broader scientific community, which we have referenced heavily; specifically information regarding the chemical characterization of cercosporin and its intermediates. Dr. Towsend also dialogued with the team substantially, helping us figure out the early stages of our project.</li>

			<li><strong>Jennifer Toyoda, Ph.D</strong> - MOTE Marine Laboratory & Aquarium Provided insight into potential mechanisms for cercosporin deployment, effects of toxicity besides lethality, weight of evidence for gaps in cercosporin literature, and justification of usage.</li>

			<li><strong>Jeff Whalen, Ph.D.</strong> - Jim Moran College of Entrepreneurship. Provided feedback on project implementation, worked with Ben Arney.</li>

			<li><strong>Quinton White, Ph.D.</strong> - Executive Director, Marine Science Research Institute and Professor of Biology and Marine Science at Jacksonville University. His current research is focused on the history of human impact on Florida's environment. He provided continuous advice on the science of water quality. </li>

			<li><strong>Latika Young</strong> - Director of Center for Undergraduate Research and Academic Engagement. Worked with David Montez on organizing and funding the 2022 FSU iGEM team. </li>

	
<br>

			
			<!-- <div style="margin-left: 2em">
                            <hr>
                            <ul>
                                <li>Clearly state what each member of the team accomplished. We have provided some recommended categories below. Your team may also have other categories you can include.</li>
                                <li style="list-style: none; display: inline">
                                    <ul>
                                        <li><strong>Analysis:</strong> analyzing data generated by your team, another iGEM team (current or previous), and/or from literature as needed for your project</li>
                                        <li><strong>Conceptualization:</strong> brainstorming and developing ideas for the project</li>
                                        <li><strong>Investigation:</strong> performing the experiments and/or collecting data/evidence</li>
                                        <li><strong>Lab Maintenance:</strong> cleaning, organizing, and preparing the research facilities or lab</li>
                                        <li><strong>Fundraising:</strong> raising money, in-kind donations of materials, and/or services for the team’s activities</li>
                                        <li><strong>Public Engagement:</strong> preparing and/or implementing tools/activities to engage the broader community</li>
                                        <li><strong>Entrepreneurship:</strong> developing business models and other commercially relevant materials or activities</li>
                                        <li><strong>Background Research:</strong> reading peer-reviewed scientific research articles, white papers, regulations/guidelines, and other documents</li>
                                        <li><strong>Data Curation:</strong> annotating (producing metadata), cleaning, and maintaining research data for your team's project and for future use by other iGEM teams or members of the synthetic biology community</li>
                                        <li><strong>Software:</strong> developing, implementing, and/or testing computer programs and code</li>
                                        <li><strong>Hardware:</strong> designing, building, and/or testing mechanical, electrical, or optical hardware systems</li>
                                        <li><strong>Project Administration:</strong> managing and coordinating the project activities, planning, and execution</li>
                                        <li><strong>Visualization:</strong> preparation, creation and/or presentation of the work including data visualization, user interfaces, videos and other graphics</li>
                                        <li><strong>Writing:</strong> writing, reviewing or editing content for the wiki or other documents to be shared outside the team</li>
                                        <li><strong>Safety:</strong> performing activities to ensure compliance with the safety guidelines or requirements of iGEM, your institution, and/or government</li>
                                    </ul>
                                </li>
                                <li>Clearly state who provided the student team members with:</li>
                                <li style="list-style: none; display: inline">
                                    <ul>
                                        <li>General support</li>
                                        <li>Project support and advice</li>
                                        <li>Fundraising help and advice</li>
                                        <li>Lab support</li>
                                        <li>Difficult technique support</li>
                                        <li>Project advisor support</li>
                                        <li>Wiki support</li>
                                        <li>Presentation coaching</li>
                                        <li>Human Practices support</li>
                                    </ul>
                                </li>
                                <li>Thanks and acknowledgements for all other people involved in helping make your team successful</li>
                                <li>Literature references: we encourage you to display literature references throughout your entire wiki</li>
                            </ul>
                        </div> -->
	


<!--Sponsor Gallery Code-->




	<h2 style="text-align:center; width: 100%; color: #208437"><b>Sponsors</b><hr style="color: black;"></h2>


	<div class="row" style="justify-content: center; height: 150px;">
  

		<div class="column, sponsor_img_w" style="width: 30%; height: 100%; justify-content: center; align-items: center; display: flex; margin-right: 5%;">
		<br>
			<a href="https://provost.fsu.edu/"><img alt="FSU Office of the Provost" class="sponsor_img" src="https://static.igem.wiki/teams/4475/wiki/sponsor-logos/sponsor-logos/fsu-office-provost-v.png"></a>
		</div>
	
	
		<div class="column, sponsor_img_w" style="width: 30%; height: 100%; justify-content: center; align-items: center; display: flex;">
			<a href="https://www.research.fsu.edu/"><img alt="FSU Office of Research" class="sponsor_img" src="https://static.igem.wiki/teams/4475/wiki/sponsor-logos/sponsor-logos/fsu-office-research-v.png" ></a>
		</div>
	
	
		<div class="column, sponsor_img_w" style="width: 30%; height: 100%; justify-content: center; align-items: center; display: flex; margin-left: 5%">
			<a href="https://cre.fsu.edu/"><img alt="FSU Center for Undergraduate Research and Academic Engagement" class="sponsor_img" src="https://static.igem.wiki/teams/4475/wiki/sponsor-logos/sponsor-logos/t-fsu-cre.png"></a>
	  </div>
	
	
	 
	  </div>
	 
	<!--3-->
	<br>
	<br>
	
	
	<div class="row" style="justify-content: center; height: 150px;">
	  
	
		<div class="column, sponsor_img_w" style="width: 30%; height: 100%; justify-content: center; align-items: center; display: flex; margin-right: 5%;">
		<br>
			<a href="https://artsandsciences.fsu.edu/"><img alt="FSU College of Arts & Sciences" class="sponsor_img" src="https://static.igem.wiki/teams/4475/wiki/sponsor-logos/sponsor-logos/fsu-college-arts-sciences-v.png"></a>
		</div>
	
	
		<div class="column, sponsor_img_w" style="width: 30%; height: 100%; justify-content: center; align-items: center; display: flex;">
			<a href="https://eng.famu.fsu.edu/"><img alt="FSU/FAMU College of Engineering" class="sponsor_img" src="https://static.igem.wiki/teams/4475/wiki/sponsor-logos/sponsor-logos/famu-fsu-college-engineering-v.png" ></a>
		</div>
	
	
		<div class="column, sponsor_img_w" style="width: 30%; height: 100%; justify-content: center; align-items: center; display: flex; margin-left: 5%">
			<a href="https://jimmorancollege.fsu.edu/"><img alt="FSU College of Entrepreneurship" class="sponsor_img" src="https://static.igem.wiki/teams/4475/wiki/img-9507.jpg"></a>
	  </div>
	
	
	 
	  </div>
	 
	
	<br>
	<br>
	
	<!--6-->
	<div class="row" style="justify-content: center; height: 150px;">
	  
	
		<div class="column, sponsor_img_w" style="width: 30%; height: 100%; justify-content: center; align-items: center; display: flex; margin-right: 5%;">
		<br>
			<a href="https://business.fsu.edu/"><img alt="FSU College of Business" class="sponsor_img" src="https://static.igem.wiki/teams/4475/wiki/sponsor-logos/sponsor-logos/florida-state-university-college-of-business-vector-logo.png"></a>
		</div>
	
	
		<div class="column, sponsor_img_w" style="width: 30%; height: 100%; justify-content: center; align-items: center; display: flex;">
			<a href="https://biorender.com/"><img alt="Biorender" class="sponsor_img" src="https://static.igem.wiki/teams/4475/wiki/sponsor-logos/sponsor-logos/bio-render.png" ></a>
		</div>
	
	
		<div class="column, sponsor_img_w" style="width: 30%; height: 100%; justify-content: center; align-items: center; display: flex; margin-left: 5%">
			<a href="https://med.fsu.edu/"><img alt="FSU College of Medicine" class="sponsor_img" src="https://static.igem.wiki/teams/4475/wiki/sponsor-logos/sponsor-logos/t-fsu-medicine.png"></a>
	  </div>
	
	
	 
	  </div>
	 
	<br>
	<br>
	
	<!--9-->
	
	<div class="row" style="justify-content: center; height: 150px;">
	  
	
		<div class="column, sponsor_img_w" style="width: 30%; height: 100%; justify-content: center; align-items: center; display: flex; margin-right: 5%;">
		<br>
			<a href="https://www.idtdna.com/"><img alt="IDT" class="sponsor_img" src="https://static.igem.wiki/teams/4475/wiki/sponsor-logos/sponsor-logos/idt.png"></a>
		</div>
	
	
		<div class="column, sponsor_img_w" style="width: 30%; height: 100%; justify-content: center; align-items: center; display: flex;">
			<a href="https://www.snapgene.com/"><img alt="SnapGene" class="sponsor_img" src="https://static.igem.wiki/teams/4475/wiki/logo-snapgene-dotmatics.svg" ></a>
		</div>
	
	
		<div class="column, sponsor_img_w" style="width: 30%; height: 100%; justify-content: center; align-items: center; display: flex; margin-left: 5%">
			<a href="https://www.twistbioscience.com/"><img alt="Twist Bioscience" class="sponsor_img" src="https://static.igem.wiki/teams/4475/wiki/800px-twist-bioscience-official-logo.png"></a>
	  </div>
	
	
	 
	  </div>
	 
	<!--3-->
	<br>
	<br>
	
	
	<!--12-->
	
	<div class="row" style="justify-content: center; height: 150px;">
	  
	
		<div class="column, sponsor_img_w" style="width: 30%; height: 100%; justify-content: center; align-items: center; display: flex; margin-right: 5%;">
		<br>
			<a href="https://undergrad.fsu.edu/"><img alt="Division of Undergraduate Studies" class="sponsor_img" src="https://static.igem.wiki/teams/4475/wiki/division-undergraduate-studies-h-copy.jpg"></a>
		</div>
	
	
		<div class="column, sponsor_img_w" style="width: 30%; height: 100%; justify-content: center; align-items: center; display: flex;">
			<a href="https://www.innovation.fsu.edu/"><img alt="FSU Innovation Hub " class="sponsor_img" src="https://static.igem.wiki/teams/4475/wiki/image-6483441.jpg" ></a>
		</div>
	
	
		<div class="column, sponsor_img_w" style="width: 30%; height: 100%; justify-content: center; align-items: center; display: flex; margin-left: 5%">
			<a href="https://sga.fsu.edu/"><img alt="FSU SGA" class="sponsor_img" src="https://static.igem.wiki/teams/4475/wiki/studentgovernment-rgb-sealflat.jpg"></a>
	  </div>
	
	
	 
	  </div>
	 
	<br>
	<br>
	
	
	
	
	
	</div>















	</div>
</div>
<br>
<br>
<br>
{% endblock %}

