{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block title %}Fishy Go Bye Bye{% endblock %}
{% block lead %}<b>Welcome to iGEM 2023!</b> Your team has been approved and you are ready to start the iGEM season!{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col">
    <h2>Before you start</h2>
    <hr>
    <p>Please read the following pages:</p>
    <ul>
      <li><a href="https://competition.igem.org/deliverables/team-wiki" target="_blank">Wiki Requirements page</a></li>
      <li><a href="https://competition.igem.org/judging/pages-for-awards" target="_blank">Standard URL Pages for Awards</a></li>
    </ul>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <h2>Styling your wiki</h2>
    <hr>
    <p>Feel free to customize the page styling according to your preferences, or you can simply leave the style as it is. It's wise to focus on a clear content first, and on a clean design later.</p>
    <p>Be cautious with the size of the assets like images, videos, and more into your wiki. Large file sizes can hinder the presentation of wikis due to slow internet connections. Remember to compress large files before uploading them to iGEM servers.</p>
    <p>This default wiki meets the requirements, enhances navigability, and provides a user-friendly experience for visitors. You should not feel obliged to go beyond the provided styling.</p>
  </div>
</div>
