{% extends "layout.html" %}
{% block page_content %}
<!DOCTYPE html>
<html>
<head>
  <title>Team</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Oswald&display=swap" rel="stylesheet">

  <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename = 'team.css') }}" rel="stylesheet"/>
  <script src="{{ url_for('static', filename = 'team.js') }}"></script>

</head>
<body>
<div class="fish-container">
    <img src="https://static.igem.wiki/teams/4680/wiki/goldfish1.png" alt="Fish" class="fish">
  </div>
  <h1 class="page-title">Team Members</h1>
  <div class= "banner">
    <br>
    <h2> Click the cards to learn more about us!</h2>
    <br>
    </div>
  <section id="team">
    <div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Elizabeth Moore</h1>
        <div class="image-container">
          <img src="https://static.igem.wiki/teams/4680/wiki/goldfish1.png" alt="Card Image" class="card-image">
        </div>
        <p>Team Lead</p>
      </div>
      <div class="back">
        <h1>About Elizabeth M!</h1>
        <p>Bio.</p>
      </div>
    </div>
  
<div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>


<div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>
  </section>


<section id="team">
<div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>


<div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>


<div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>
  </section>  
  
  <section id="team">
    <div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>


  <div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>


<div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>
  </section>
<section id="team">
    <div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>


  <div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>


<div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>
  </section>

</body>
</html>


{% endblock %}
