{% extends "layout.html" %}
{% block page_content %}
<!DOCTYPE html>
<html>
<head>
  <title>Flipping Cards</title>
  <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename = 'team.css') }}" rel="stylesheet"/>
  <script src="{{ url_for('static', filename = 'team.js') }}"></script>

</head>
<body>
<div class="fish-container">
    <img src="https://static.igem.wiki/teams/4680/wiki/goldfish1.png" alt="Fish" class="fish">
  </div>
  <h1 class="page-title">Our Team</h1>
  
  <section id="team">
    <div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Fishy Go Bye Bye</h1>
        <div class="image-container">
          <img src="https://static.igem.wiki/teams/4680/wiki/goldfish1.png" alt="Card Image" class="card-image">
        </div>
        <p>Fishy Goldstein</p>
      </div>
      <div class="back">
        <h1>Say Hi to Fishy!</h1>
        <p>I am Fishy. Hear me go blub.</p>
      </div>
    </div>
  
<div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>


<div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>
  </section>


<section id="team">
<div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>


<div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>


<div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>
  </section>  
  
  <section id="team">
    <div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>


  <div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>


<div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>
  </section>
<section id="team">
    <div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>


  <div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>


<div class="card" onclick="flipCard(this)">
      <div class="front">
        <h1>Front Side</h1>
        <div class="image-container">
          <img src="/tmau/public/images/fsu-office-research-v-removebg-preview.png" alt="Card Image" class="card-image">
        </div>
        <p>This is the front side of the card.</p>
      </div>
      <div class="back">
        <h1>Back Side</h1>
        <p>This is the back side of the card.</p>
      </div>
    </div>
  </section>

</body>
</html>


{% endblock %}
