@keyframes movingGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes gradientMove {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@keyframes glowingText {
  0% {
    text-shadow: 0 0 10px rgb(61, 171, 83);
  }
  50% {
    text-shadow: 0 0 20px rgba(178, 76, 149, 0.7), 0 0 30px rgb(207, 237, 11);
  }
  100% {
    text-shadow: 0 0 10px rgb(0, 179, 255);
  }
}

body {
  animation: movingGradient 3s linear infinite alternate;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "futura", sans-serif;
  background-image: linear-gradient(to right,#F0D2D1, #B3E1E6,#F6EFA6,rgb(142, 177, 157));
  background-size: 200% 200%;
}

/*  background-image: linear-gradient(to right,#ff0800, blue);*/

#splash{
  background-image: url('https://gifdb.com/images/high/just-keep-swimming-animated-school-of-fish-6yy94igqkvkqhet3.webp');
  opacity: 0.75;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* option 1 #splash h1{
  font-size: 5em;
  text-align: center;
	font-size: 90px;
  color: black; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   -webkit-text-stroke: .1px  #E2E3E2;

}*/

 #splash h1{
  font-size: 5em;
  text-align: center;
	font-size: 90px;
  color: rgb(0, 0, 0); 
  text-shadow: 0 0 10px rgba(60, 156, 67,1); /* Add a initial glow effect */
  animation: glowingText 2s ease-in-out infinite; 
  font-family: 'Audiowide', sans-serif;

}

#content h2{
  text-align: center;
  font-size: 2em;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
}

/*#splash h1{
  font-size: 5em;
  text-align: center;
	font-size: 90px;
  z-index: 1;
  background-image: linear-gradient(to right,  rgb(36, 174, 168), blue);
  background-clip: text; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text
  animation: gradientMove 5s infinite linear;
  text-outline: 2px solid #000;

}*/

#content {
  margin: 0 auto;
  padding:0px;
}


.navbar {
  background-color: rgba(142, 177, 157, 0.5);
  border-radius: 2px;
  width: 100%;
  position: fixed;
  z-index: 9999; /* Increase the z-index value to bring it forward */
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
  font-size: 20px;
}

.logo-container{
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  margin-left: -500px;
  margin-right: 100px;
  font-family: 'Audiowide', sans-serif;
}

.logo {
  margin-left: -50px;
}

img.logo{
  height: 100px;
  width: auto;
  padding-right: 50px;
  
}

.tmau {
  font-weight: bold;
  font-family: 'Audiowide', sans-serif;
}

.yellow{
  background-color: #F6EFA6;
  margin: 0;
  
}

.pink{
  background-color: #F0D2D1;
  margin: 0;
}

.navbar a {
  display: inline-block;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: .1px  #E2E3E2;
	text-shadow: 0px 2px 4px rgb(38, 124, 38);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  position: relative;
  z-index: 9999;
   
}

.navbar a:hover {
  color: pink;
}

.dropdown {
  position: relative;
  z-index: 9999;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  z-index: 9999;
}

.dropdown-content a {
  color: rgb(197, 236, 188);
  padding: 10px;
  text-decoration: none;
  text-shadow: 0 0 10px rgba(60, 156, 67,1); /* Add a initial glow effect */
  animation: glowingText 2s ease-in-out infinite; 
  display: block;
  z-index: 9999;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 9999;
}

.dropdown:hover > a {
  background-color: transparent;
}


/* the rest of this is the footer css*/
.footer {
  background-color: var(--dark) !important;
  color: var(--white);
  font-family: 'Oswald', sans-serif;
  padding-bottom: 50px;
  padding-top: 30px;
}
.footer p {
  font-size: 14px;
  line-height: 17px;
}

.footer .footer-details {
  position: relative;
}

.footer .footer-details .logo-footer {
  display: flex;
  flex-direction: row;
}

.footer .logo-footer {
  display: flex;
  justify-content: center;
  height: 50%;
}

.footer .logo-footer h4 {
  text-align: center;
}
.footer .footer-details .logo-footer p {
  padding-left: 40px;
  padding-bottom: 0;
  padding-top: 30px;
  margin:0px;
  font-size: 20px;
  text-align: center;
}

.footer .footer-details .sponsors > div {
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .footer .footer-details .sponsors > div {
    position: absolute;
    right: 0;
    bottom: 30px;
  }
}

.footer .footer-details .sponsors > div a {
  display: inline-block;
  padding: 10px;
}

.footer .footer-details .sponsors > div a img {
  transition: all 250ms ease;
  height: 70px;
  align-items: right;
  position: relative;
}

.footer .footer-details .sponsors > div a img.neb {
  height: 40px;
}

.footer .creds {
  margin-top: 30px;
}

.footer .creds .copy .small {
  text-align: center !important;
  font-size: 12px;
}

@media (min-width: 992px) {
  .footer .creds .copy .small {
    text-align: left !important;
  }
}

.footer .creds .copy .small a {
  border-bottom: 1px solid #e5e7eb;
  transition: all 0.3s ease;
}

.footer .creds .copy .small a:hover {
  color: var(--main-light);
  border-bottom: 1px solid var(--main-light);
}

.footer .creds .socials {
  position: relative;
}

.footer .creds .socials > div {
  text-align: center;
  margin-bottom: 20px;
  height: 20px;
}

.footer .creds .socials > div img{
  text-align: center;
  margin-bottom: 20px;
  max-height: 30px;
  max-width: 30px;
  align-items: center;
}
@media (min-width: 992px) {
  .footer .creds .socials > div {
    position: absolute;
    right: 10px;
    bottom: 0px;
  }
}

.footer .creds .socials > div a {
  display: inline-block;
}
